* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #222;
    color: white;
    font-family: sans-serif;
    padding: 1rem;
}

.lamp-visible {
    display: block;
}

.lamp-invisible {
    display: none;
}

.lamp-size {
    width: 300px;
}

.positioning {
    margin-top: 180px;
    height: 400px;
}